.card-collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;

}
.card{
    margin-bottom: 15px;
}
h1{
    display: flex;
    justify-content: center;
}
#root{
    display: grid;
    justify-content: center;
    padding-top: 30px;
}

.img-poster{
    max-width: 100%;
    height: auto;
}